mixin button(color, url, text)
  // BUTTON
  table(width="100%" border="0" cellspacing="0" cellpadding="0")
    tr
      td(align="center" style="padding: 10px 0px 0px 0px;")
        table(width="100%" border="0" cellspacing="0" cellpadding="0")
          tr
            td(align="center")
              a(class="body-text" href=url target="_blank" style="padding: 0px 10px 0px 10px; font-size: 13px; line-height: 26px; font-family: Helvetica, Arial, sans-serif; font-weight: normal; color: #ffffff; text-decoration: none; text-transform: uppercase; letter-spacing: 2px; background-color: #466687; border-top: 5px solid #466687; border-bottom: 5px solid #466687; border-left: 20px solid #466687; border-right: 20px solid #466687; display: inline-block; border-radius: 20px;")= text

mixin graf(text)
  tr
    td(class="padding" align="left" style="padding: 0px 0px 15px 0px; font-family: Helvetica, Arial, sans-serif; color: #717171; font-weight: normal; font-size: 16px; line-height: 26px;" )= text

mixin logo
  table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
    tr
      td(align="center")
        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
          tr
            td(align="center" style="padding: 10px 10px 10px 10px;")
              table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%")
                tr
                  td(align="center" style="padding: 15px 0px 15px 0px;")
                    a(v-bind:href="board.boardUrl" style="font-family: Helvetica, arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 26px; color: #666666; text-decoration: none;" target="_blank")
                      img(class="fluid-image" border="0" v-bind:src="board.logoSrc" v-bind:alt="board.abbrev" v-bind:width="board.logoW" v-bind:height="board.logoH" style="display: block; padding: 0; color: #466687; font-family: Helvetica, arial, sans-serif; font-size: 16px;")

mixin salutation
  tr
    td(class="padding" align="left" style="padding: 22px 0px 22px 0px; font-family: Helvetica, Arial, sans-serif; color: #466687; font-weight: bold; font-size: 21px; line-height: 28px;" )
      | Dear %%name%%,

mixin examRow(text, paddingStyle, color, fontWeight, fontSize, lineHeight, styleObject, button = false)
  - var styleBase = { padding: paddingStyle, fontFamily: 'Helvetica, Arial, sans-serif', color: color, fontWeight: fontWeight, fontSize: fontSize, lineHeight: lineHeight }
 
  if (styleObject) 
    - var styleBase = Object.assign({}, styleBase, styleObject)

  tr
    td(class!=attributes.class align="center" width="300" style=styleBase)= text
      if (button)
        +button(button.buttonColor, button.link, button.buttonText)
  

mixin exam(color, textColor, date, location, firstDeadline, finalDeadline, link, buttonColor, buttonText)
  tr
    td(class="padding" align="center" style="padding: 0px 0px 40px 0px;")
      table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="320" style={ border: `1px solid ${color}`, borderRadius: '4px', borderCollapse: 'separate !important' })
        tr
          td(align="center" width="300" style={ padding: '6px 10px 6px 10px', fontFamily: 'Helvetica, Arial, sans-serif', color: textColor, fontWeight: 'bold', fontSize: '16px', lineHeight: '23px' } bgcolor=color)
            | #{date}
        -var deadlineText = (finalDeadline ? 'First Application Deadline' : 'Application Deadline')
        -var firstDeadlineDescription = (finalDeadline ? 'No late fee' : null)
        -var cellPadding = (finalDeadline ? '0px 0px 10px 0px' : '0px 0px 0px 0px')
        +examRow(location, '15px 0px 0px 0px', textColor, 'normal', '21px', '28px')(class="padding-sides-only")

        +examRow(deadlineText, '12px 0px 0px 0px', '#a2a2a2', 'light', '13px', '18px', { textTransform: 'uppercase', letterSpacing: '1px' })(class="padding-sides-only")

        if (firstDeadlineDescription)
          +examRow(firstDeadlineDescription, '2px, 0px 0px 0px', '#a2a2a2', 'light', '13px', '18px')(class="padding-sides-only")

        +examRow(firstDeadline, cellPadding, textColor, 'normal', '16px', '26px')(class="padding-sides-only")

        if (finalDeadline)
          +examRow('Final application deadline', '0px 0px 0px 0px', '#a2a2a2', 'light', '13px', '18px', { textTransform: 'uppercase', letterSpacing: '1px'})(class="padding-sides-only")
          +examRow('With late fee', '2px 0px 0px 0px', '#a2a2a2', 'light', '13px', '18px')(class="padding-sides-only")
          +examRow(finalDeadline, '0px 0px 0px 0px', textColor, 'normal', '16px', '26px')(class="padding-sides-only")

        +examRow('', '0px 0px 20px 0px', color, 'normal', '16px', '26px', {}, { buttonColor, link, buttonText })(class="padding-sides-only")

mixin baseTd(align = 'left', padding = '0px 0px 15px 0px', valign = 'top', width )
  -
    var style = {
      padding: '0px 0px 15px 0px',
      fontFamily: 'Helvetica, Arial, sans-serif',
      color: '#717171',
      fontWeight: 'normal',
      fontSize: '16px',
      lineHeight: '26px',
    };

  if width
    td(class!=attributes.class align=align style=style valign=valign width=width)
  else
    td(class!=attributes.class align=align style=style valign=valign)

mixin close()
  tr
    td(class="padding" align="left" style="padding: 0px 0px 15px 0px; font-family: Helvetica, Arial, sans-serif; color: #717171; font-weight: normal; font-size: 16px; line-height: 26px;" )
      | For more information about the OCC exam or any of the requirements, please visit #[a(v-bind:href="board.boardUrl" style="font-family: Helvetica, Arial, sans-serif; color: #466687; font-weight: normal; font-size: 16px; line-height: 26px;" target="_blank") the website of the {{ board.name }}]. 
  tr
    td(class="padding" align="left" style="padding: 0px 0px 15px 0px; font-family: Helvetica, Arial, sans-serif; color: #717171; font-weight: normal; font-size: 16px; line-height: 26px;" ) Please contact the {{ board.abbrev }} at {{ board.phone }}, or #[a(v-bind:href="'mailto:' + board.email" style="font-family: Helvetica, Arial, sans-serif; color: #466687; font-weight: normal; font-size: 16px; line-height: 26px;" target="_blank") {{ board.email }}] for specific questions.

mixin footer()
  // FOOTER
  // container table
  table(border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;")
    tr
      td(align="center")
        // wrapper table
        table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="600")
          tr
            td(align="center" style="padding: 20px 10px 20px 10px;")
              // content table
              table(class="wrapper" border="0" cellpadding="0" cellspacing="0" width="100%")
                tr
                  td(class="body-text" align="center")
                    | #[a(v-bind:href="board.boardUrl" class="appleFooter" style="font-family: Helvetica, arial, sans-serif; font-weight: bold; font-size: 14px; line-height: 21px; color: #466687; text-decoration: none;" target="_blank") {{ board.name }}]
                tr
                  td(class="body-text" align="center" style="font-family: Helvetica, arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 21px; color: #666666;")
                    | #[span(class="appleFooter" style="color: #666666; font-weight: normal;") {{ board.address }}]
                tr
                  td(class="body-text" align="center" style="font-family: Helvetica, arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 21px; color: #666666;")
                    | #[span(class="appleFooter" style="color: #666666; font-weight: normal;") {{ board.phone }}]
                tr
                  td(class="body-text" align="center" style="font-family: Helvetica, arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 21px; color: #666666;")
                    | #[span(class="appleFooter" style="color: #666666; font-weight: normal;") Questions? Email #[a(v-bind:href="'mailto:' + board.email" style="text-decoration: underline; color: #666666; font-weight: normal;" target="_blank") {{ board.email }}]]
                tr
                  td(class="body-text" align="center" style="padding-top: 20px; font-family: Helvetica, arial, sans-serif; font-weight: normal; font-size: 13px; line-height: 21px; color: #666666;")
                    | #[a(class="appleFooter" href="http://aoa-mnews.informz.net/aoa-mnews/default.asp?action=u&amp;mi=%%MINSTANCEID%%&amp;email=%%EMAIL%%&amp;fid=2224" target="_blank" choice="12" style="font-family: Helvetica, arial, sans-serif; font-weight: normal; font-size: 14px; line-height: 21px; color: #666666;") Unsubscribe]
